div{


font-family: 'Courier New', Courier, monospace;
font-size: 20px;


}

#navbar {
color: black;
font-size: 20px;
}

#sidebar{
color: blue;
font-size: 16px;

}

#main{

color: aquamarine;
font-size: 14px;
}
